COLOUR_DISABLE=
COLOUR_FORCE=

LOG_LEVEL=
LOG_DIR_PATH=

ERROR_FILES_DIR_PATH=
ERROR_LOCATION_RESOLUTION=
ERROR_DISCORD_WEBHOOK=
ERROR_DISCORD_THREAD_ID=
ERROR_DISCORD_PING_ROLES_ID=

DISCORD_TOKEN=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_DATABASE=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_USE_SSL=
